*{
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

/* head */

header nav{
    background-color: rgb(32, 34, 33);
    padding: 9px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: auto;
}

header ul{
    display: flex;
    align-items: center;
}

header ul li{
    margin-right: 20px;
}

header ul li a{
    color: white;
}

header ul li a button{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
}

.home{
    padding: 15rem;
    background-image: url(./images/porsche\ home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 40vh;
}

/* about */

.home div{
    padding: 10px;
    color: white;
    text-align: center;
}

.home div h1{
    font-size: 9rem;
}

.home div p{
    font-size: 2rem;
}

/* articles */

.articles{
    padding: 10rem;
    
}

.articles h2{
    text-align: center;
    margin-top: -20px;
    font-size: 3rem;
}

.cartoes{
    padding: 0px;
    display: flex;
    gap: 2rem;
}

.cartoes div p{
    margin: 50px auto;
    text-align: center;
    font-size: 2rem;
}

.porsche911 {
    height: 25rem;
    width: 24rem;
    color: white;
    text-align: center;
    background-color: rgb(32, 34, 33);
    border-radius: 8px;
}

.macan {
    height: 25rem;
    width: 24rem;
    color: white;
    text-align: center;
    background-color:  rgb(32, 34, 33);
    border-radius: 8px;
}

.cayenne {
    height: 25rem;
    width: 24rem;
    color: white;
    text-align: center;
    background-color: rgb(32, 34, 33);
    border-radius: 8px;
}

.cartoes div img{
    width: 24rem;
    height: 13,5rem;
    border-radius: 8px;
}

/* about  */

.about {
    background-color: rgb(32, 34, 33) ;
    padding: 0;
    display: flex;
    gap: 20px;
    
}

.divImgTres img{
    width: 45rem;
    height: 36rem;
}

.divTextTres{
    width: 40vw;
    padding: 2rem;
}

.divTextTres h2 {
     text-align: center;
     color: white;
     font-size: 3rem;
   
}

.divTextTres p{
    flex-wrap: wrap;
    text-align: justify;
    color: white;
    font-size: 2rem;
}


/* subscribe */

.subscribe {

}

.form h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(32, 34, 33);
}

.form p {
    font-size: 2rem;
    text-align: center;
    color: rgb(32, 34, 33);
}

.form form {
    size: 3rem;
    text-align: center;
    
}

/* footer */

footer{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 34, 33) ;
   
}


footer div nav ul{
    display: flex;
}

#divIcon nav ul{
    gap: 20px;
}
#divIcon nav ul li a i{
    color: white;
    background-color: gray;
    padding: 0.6rem;
    border-radius: 20px;
    font-size: 15px;
}

#divTextFooter nav ul{
    gap: 3rem;
}

#divTextFooter nav ul li a{
    color: white;
}

#divTextFolder ul li a button{
    padding: 10px;
    color: rgb(32, 34, 33);
    background-color: rgb(32, 34, 33);
    border-color: white;
}

.logofooter {
    background-color: rgb(32, 34, 33);
}

.logofoot{
    align-items: center; 
}
